body {
    padding-top: 5rem;
}

.product {
    display: flex;
    flex-direction: column;
    flex: 1 1 20rem;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem #ccc;
}

.product img {
    width: 100%;
    height: 15rem;
    object-fit: cover;
    border-radius: 0.5rem;
}

.product h3 {
    margin: 0.5rem 0;
}

.product p {
    margin: 0.5rem 0;
}

.product button {
    margin: 0.5rem 0;
}

.info-container .fs-5 {
    
    text-decoration: none;
    color: #000;
}

.info-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* align-items: center;
    justify-content: center; */
    justify-content: space-between; 
    width: 100%; 
}

.info-container .fs-5:hover  {
    text-decoration: none;
    color: #023F30;
}

.rounded-square {
    width: 200px;
    height: 200px;
    border-radius: 20px; 
    overflow: hidden; 
}

.bg-col-secondary {
    background-color: #023F30;
}

.btn-col-secondary {
    background-color: #023F30;
    border-color: #023F30;
    color: #fff;

}

.btn-col-secondary:hover {
    background-color: #037055;
    border-color: #036e54;
    color: #fff;
}

.banner-bkg {
    background-color: #023F30;
    color: #fff;
}